body {
    font-family: Arial, sans-serif;
    background-color: #fff701;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.container h2 {
    margin-bottom: 20px;
    color: #333;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container form label {
    margin-bottom: 5px;
    color: #333;
}

.container form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container form button:hover {
    background-color: #0056b3;
}

.container form img {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
}
